# What is Python?

* Python is an interpreted, general-purpose programming language (This means the machine doesn't directly run your code. our code is line by line converted into low level machine language)
* It supports object-oriented concepts (classes, objects etc.)
* Dynamically typed - so the type of a variable is decided at runtime, which means you don't have to specify it in yhe code.

### Code and Comments

In [1]:
print("Hello World!")

Hello World!

Python runs the code line by line:

In [3]:
print("Hello1")
print("Hello2")
print("Hello3")
print("Welcome to Our Python course")

Hello1
Hello2
Hello3
Welcome to Our Python course

If you make mistakes, python will complain:

In [6]:
print("Hello')

SyntaxError: EOL while scanning string literal (<ipython-input-6-21f0c5b97628>, line 1)

In [4]:
print "Hello World"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")? (<ipython-input-4-2e860ebf713e>, line 1)

In [5]:
print(Hello)

NameError: name 'Hello' is not defined

### Checking the Version

In [5]:
!python --version

Python 3.9.1

### Comment

In [29]:
#this is where I print "Hello World" 

#taking some notes
#take a note

### Data Types
* Text type: str (string)
* Numeric types: int (integer), float (and complex)
* Sequence types: list, tuple, range 
* Mapping type: dict (dictionary)
* Boolean type: boolean
* Set type: set

### Variables

We can use variables to store values

For example:

* variable = value

* n = 5

In [11]:
n = 1 
print(n)

1

In [12]:
p = n
print(p)

1

In [16]:
#swapping
data1 = 7 
data2 = 12
data3 = 23
data4 = 33

data1, data2, data3 , data4 = data2 , data1, data4, data3
print(data1, data2, data3, data4)

12 7 33 23

In [17]:
print("data1:", data1, "data:", data2)

data1: 12 data: 7

### String (str)

Think of this as a sequence of characters

|M|y| |n|a|m|e| |i|s| |G|a|b|b|y|
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|

In [21]:
#String
hello = "World"

In [14]:
print(hello) #print variable
print("World") #print value
print(n)

World
World
1

In [15]:
type('x')

str

In [15]:
#type() 
type(hello)

str

In [16]:
print(type(hello)) #print data type

<class 'str'>

### Integer (int)

In [17]:
#Integer
int_value = 5
int_value

5

In [18]:
print(type(int_value))

<class 'int'>

### Float

In [29]:
t = 3.19
print(type(t))

<class 'float'>

### Boolean (bool)

In [3]:
#Boolean
t, f = True, False
print(type(t))
print(t)
print(f)

<class 'bool'>
True
False

bool

## String Operations
### len()

Gets the length of a string

In [18]:
len("Python")

6

In [19]:
len("Welcome to the Turkish AI Hub")

29

In [22]:
hello

'World'

In [37]:
print(len(hello)) #print data length

5

In [38]:
p

5

In [39]:
len(5)

TypeError: object of type 'int' has no len()

In [40]:
len(15.6)

TypeError: object of type 'float' has no len()

In [41]:
data22 = "Data Science"
len(data22)

12

In [42]:
len("Data Science")

12

### Concatenating Strings

In [32]:
name = "Omer"
print(name)
name = name + " Cengiz"
print(name)

Omer
Omer Cengiz

### String Formatting

In [47]:
#F-string
name = "Turkey"
print(f'hello {name}')

hello Turkey

In [6]:
name2 = "Aslı"
print("Hello {}".format(name2))

Hello Aslı

In [7]:
data12 = 5
data13 = 90
print("My value:{} and Your value:{}".format(data12, data13))

My value:5 and Your value:90

In [67]:
print(f'My value: {data12} and your value: {data13}')

My value: 5 and your value: 90

In [8]:
print("My value:", str(data12), "Your Value:", str(data13))

My value: 5 Your Value: 90

## Arithmetic Operators
|Operator|Name|
| --- | --- |
|+|Addition|
|-|Subtraction|
|* |Multiplication|
|/|Division|
|//|Floor division|
|** |Exponentiaion|
|%|Modulus|

These operators can be used like the following:

#### On Numerical Values:

In [39]:
35+67

102

In [51]:
#exponential numbers
5**2

25

In [52]:
5**3

125

In [36]:
x = 10

print(x+2)

12

In [37]:
y = 13
print(y/2)
print(y//2)
print(y % 2)

6.5
6
1

In [41]:
x = "35" + 67

TypeError: can only concatenate str (not "int") to str

#### On Strings:

In [43]:
my_string = "hello" + "world"
print(my_string)

helloworld

In [44]:
my_string = "35"*3
print(my_string)

353535

In [45]:
my_string = "hello"*4
print(my_string)

hellohellohellohello

### (Additional) Assignment Operators (+= , *= etc)

In [33]:
z = 5
z += 1 # this statement equals to z= z+1 , meaning while the previous value of z is 5, the new z value becomes 6. 
z

6

In [34]:
z += 2 #z = z + 2
z

8

In [35]:
z *= 2      # z = z * 2
z

16

In [52]:
my_string = "hey"
print(my_string)
my_string += " there"
print(my_string)
my_string *= 2
print(my_string)

hey
hey there
hey therehey there

### Docstrings (documentation strings)

In [26]:
"""
These quotes are used for docstrings. They are often confused with comments. But python will treat this as a regular string
"""

'\nThese quotes are used for docstrings. They are often confused with comments. But python will treat this as a regular string\n'