# Conditional Statements 
These statements allows for us to run different things for different input. If a condition is met. In this section, remember some of the following operators:

### Comparison Operators

|Operator|Name|
| --- | --- |
| == | Equal |
| != | Not Equal |
| < | Smaller Than |
| > | Greater Than |
| <= | Smaller or Equal to |
| >= | Greater or Equal to |

### Membership Operators

|Operator|Name|
| --- | --- |
| in | Returns True if value is present |
| not in | Returns True if value is not present |

## If

if "condition":


> "do something"

In [ ]:
num = int(input("Please enter a number: "))

if num < 0:  
  num *= -1  #num = num*-1
print("Result: ", num)

# If-Else

if "condition":


> "do something" 

else:



> "do something another"

# If-Elif-Else

if "condition":


> "do something"  

elif "condition-2":



> "do something another" 

elif "condition-3":



> "do something another" 





else:



> "do something different" 



print()

In [ ]:
score = int(input("Please enter your score: "))

if score <= 40:
  print("Maybe some more work is due")
elif score <= 60:
  print("Nice but you could do better..")
elif score <= 100:
  print("Congratulations!")
else:
  print("Invalid score!!!")

In [ ]:
x = 8

if x > 4:
  x = x+1
elif x > 5:
  x = x+2
elif x > 7:
  x = x+3

print ("x is ", x)

In [ ]:
x = 5

if x > 4:
  x = x+1

if x > 5:
  x = x+2

if x > 7:
  x = x+3

print ("x is ", x)

In [ ]:
print("**************Login Page**************")

user_name = "Rachel"
password ="terriblePassword"

user_name1 =input("Please enter your user name")

password1= input("Please enter your password.")

if (user_name != user_name1 and password == password1):
    print("Invalid user name")
elif (user_name==user_name1 and password != password1):
    print("Invalid Password")
elif (user_name != user_name1 and password!= password1):
    print("Invalid user name and password")
else:
    print("You are now logged in...")

In [ ]:
x = 10

if x > 5:
    if x >7:
        print("İlker and Eylül")

# Question

At a particular company, employees’ salaries are raised progressively, calculated using the following formula:

salary = salary + salary x (raise percentage) 

Raises are predefined as given below, according to the current salary of the worker. For instance, if the worker’s current salary is less than or equal to 1000 TL, then its salary is increased 15%.


Range | Percentage
--- | ---
0 < salary ≤ 1000 | 15%
1000 < salary ≤ 2000 |10%
2000 < salary ≤ 3000| 5%
3000 < salary | 2.5%


Write a program that asks the user to enter his/her salary. Then your program should calculate and print the raised salary of the user.

Some example program runs:

Please enter your salary: 1000

Your raised salary is 1150.0.

Please enter your salary: 2500

Your raised salary is 2625.0.

# Answer

In [ ]:
salary = float(input("Please enter your salary: "))

if salary < 0:
  print("Invalid value")
else:

  if 0 < salary <= 1000:
    salary = salary + salary * 0.15
  elif salary <= 2000:
    salary = salary + salary * 0.1
  elif salary <= 3000:
    salary = salary + salary * 0.05
  else:
    salary = salary + salary * 0.025

  print("Your new salary is", salary)

# While Loop Structure

This is a conditional loop that will keep on executing **until** a condition is no longer met

while <condition>:



> "true statement"


> condition update


A logical condition is repeated as long as it has a logical true value. For ending the loop, that condition must become false.

In [ ]:
num = 0

while num < 9:
  print("Value:{}".format(num))
  num = num +1

### Infinite loops
Be careful, because if you don't think about your conditions and statements properly, you may cause **unwanted** infinte loops. Look at the following:

In [ ]:
num = 0

while num != 9:
  print("Value:", num)
  num +=2

In [ ]:
num = int(input("Please enter an integer between 1 and 10: "))
while num < 1 or num > 10:  
    print("Invalid value!!!!")
    num = int(input("Please enter an integer between 1 and 10: "))
print("Congrats...")

In [ ]:
while True:
  a = input("Enter a value: ")
  if a == "Exit":
    break

In [ ]:
#Don't worry about this part:
import random as rnd
value = rnd.randint(0, 1000)
#Start coding

end_game = False

while not end_game:
    chosen = int(input("Pleasae take a guess at an integer..."))
    if chosen == value:
        end_game = True
    elif chosen < value:
        print("Go higher!")
    elif chosen > value:
        print("Go lower!")
print("Congradulations you guessed the number ", value)

## Print items of a list

In [ ]:
my_list = [1,2,3,4,5,6]
len(my_list)

In [ ]:
i = 0 #counter value

while (i < len(my_list)):
  #i+=1
  print(i, "th item: ", my_list[i])
  i+=1

# For Loop Structure


for *value* in *sequence*:



> "true statement"




This allows you to loop through the values of a sequence

In [ ]:
"""
a[0]
a[1]
a[2]
"""


a = [2,45,57]

for i in a: 
  print(i)

In [ ]:
i = 5
i in range(5)

In [1]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [2]:
list2 = list("Python")
list2

['P', 'y', 't', 'h', 'o', 'n']

### Using range() as your sequence

In [3]:
for i in range(5):
  print(i)

0
1
2
3
4

### Remember, strigns are also sequences

In [4]:
for i in "Python Course":
  print(i)

P
y
t
h
o
n

C
o
u
r
s
e

In [5]:
for i in "Python Course".split():
  print(i)

Python
Course

### *break* and *continue*

In [7]:
for i in range(10):
  if i == 5:    
    break
  print(i)

0
1
2
3
4

In [6]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

## List Comprehension
This offers a shorter syntax when you want to create a new list based on the values of an existing list

In [ ]:
nums = list(range(8))

squares = []

for i in nums:
  squares.append(i**2)
print(squares)

In [ ]:
nums = list(range(8))
print(nums)
squares = [i**2 for i in nums]
print(squares)

In [10]:
nums = list(range(8))

even_squares = [i**2 for i in nums if i % 2 == 0]

odd_squares = [i**2 for i in nums if i% 2 == 1]

print(even_squares)
print(odd_squares)

[0, 4, 16, 36]
[1, 9, 25, 49]

In [12]:
mylist = [3,5,12,7,65,35]
sum1 = 0

for i in mylist:
  sum1 = sum1 + i    #sum += i
  print(sum1)
    
print(sum1)

3
8
20
27
92
127
127

### Find the max item of a list

In [18]:
mylist = [3,5,12,7,65,35]
print(mylist[0])

max1 = mylist[0]

for i in mylist:
  if i > max1:
    max1 = i
    print("max1: ", max1)
    print("i: ", i)
print(max1)

3
max1:  5
i:  5
max1:  12
i:  12
max1:  65
i:  65
65

### Summation of list items

In [16]:
list1 = [1,2,3]
list2 = [4,5,6]

list(zip(list1,list2))

[(1, 4), (2, 5), (3, 6)]

In [17]:
list1 = [1,2,3]
list2 = [4,5,6]

list3 = [a + b for a,b in zip(list1,list2)]

print(list3)

[5, 7, 9]