# Functions

Functions are blocks of code that can be used over and over again to perform a specific task. 

Functions can be defined to do a task, or produce an output

We have already usd some of Python's built in functions like print(), len(), sorted() etc. There are many more.

We can use these in our own code by providing access to functions defined in libraries, modules and packages. Or, we can create our own functions (user-defined).

They also mean you can implement something complex and re-use it again.


*****

def "function_name"(parameter1,parameter2,..):


> "Do something"

  > return "return something"  (depends on functionality)

### Define a function to do a task

In [1]:
def hello():
  print("Hello Everyone!!")

### Call the function

In [2]:
hello()

Hello Everyone!!

### Define a function that expects an input

In [3]:
def hello(name):
  print("Hello " + name)

In [7]:
hello("Mary")

Hello Mary

### Define a function that returns something

In [15]:
def plus_one(a):
     return a+1

In [16]:
plus_one(5)

6

In [17]:
x = plus_one(8)

print("X is ", x)

X is  9

### You can call a function from in a function

In [18]:
def func_in_func(name1):
    hello(name1)

In [19]:
func_in_func("Lucy")

Hello Lucy

In [20]:
def func1():
  print("Hello World!!")


func1()
print("Google")
func1()
func1()
func1()
func1()

Hello World!!
Google
Hello World!!
Hello World!!
Hello World!!
Hello World!!

### A function with no return statement will return None

In [28]:
def summ(a,b):
  summ = a + b
  print(summ)

In [29]:
summ(6.0,7.5)

13.5

In [30]:
t = summ(8,9)
print("T is ", t)

17
T is  None

In [31]:
def func(x,y):
  summ = x + y
  multip = x * y
  return (summ,multip)

In [34]:
s, m = func(23,45)

print(s, m)

68 1035

In [35]:
print(func(23,45))

(68, 1035)

In [37]:
print("Sum of the values: " + str(t) + ", Multiplication of the values: " + str(c))

Sum of the values: 68, Multiplication of the values: 1035

In [38]:
#Let's write a function that it will square the entered number, but will be terminated when you enter the number 5 and give us an error message.


def sqr(x):
  if x == 5:
    return ("Terminated because you entered 5")

  result = x**2
  return result

In [39]:
sqr(10)

100

In [40]:
sqr(5)

'Terminated because you entered 5'

In [41]:
d = sqr(5)
print(d)

Terminated because you entered 5

In [42]:
# Let's write a function that tells you whether the entered number is positive, negative or zero.

def func(x):
  if x > 0:
    return ("Positive")
  elif x < 0:
    return ("Negative")
  else:
    return ("Zero")

In [43]:
for i in [-2,5,6,0,-4,-7]:
  print(func(i))

Negative
Positive
Positive
Zero
Negative
Negative

In [44]:
#factorial calculation
#0! = 1
#1!= 1
#2!= 2 * 1 =2
#3! = 3 * 2 * 1 = 6
#6! = 6 * 5* 4 *3 * 2 *1 = 720


def factorial(num):
  factorial = 1
  if (num == 0 or num == 1):
    print("Factorial: ", factorial)
  else:
    for i in range(num, 0, -1):
      factorial = factorial * i
    print("Factorial: ", factorial)


# 1 * 5 = 5 = factorial
# 5 * 4 = 20
# 20 * 3 = 60
#60 * 2 = 120
# 120 * 1 = 120

In [48]:
factorial(5)

Factorial:  120

In [49]:
def factorial2(num):
  factorial = 1
  for i in range(1,num+1):
    factorial *= i #factorial = factorial * i
  return factorial

In [53]:
factorial2(0)

1

In [54]:
def factorial2(num2):
  factorial2 = 1
  if (num2 == 0 or num2 == 1):
    print("Factorial: ", factorial2)
  else:
    for i in range(factorial2, num2+1):    
        factorial2 *= i      
    print("Factorial: ", factorial2)

In [55]:
factorial2(6)

Factorial:  720

In [59]:
def factorial3(nums):
  factorial3 = 1
  if (nums == 0 or nums == 1):
    return factorial3
  else:
    for i in range(factorial3, nums+1):
       factorial3 *= i      
    return (factorial3)

In [60]:
x = factorial3(0)
print(x)

1

In [61]:
x

1

### Define functions with default parameters

In [79]:
def hello2(name, capLetter = False):
  if capLetter:
    print("Hello " + name.upper())
  else:
    print("Hello " + name)

In [80]:
hello2("hasan")

Hello hasan

In [81]:
hello2("hasan", capLetter = True)

Hello HASAN

### Lambda functions

In [83]:
#lambda function
(lambda x: x + 1)(5)

6

In [88]:
my_lambda = lambda x: x + 1
my_lambda(5)

6

In [89]:
full_name = lambda first, last: 'Full name: ' + first.title() + ' ' + last.title()
full_name('guido', 'van rossum')

'Full name: Guido Van Rossum'

## Arbitrary arguments * args and   ** kwargs
* If you do not know how many arguments you will pass to the function, you can add a * before the parameter name (commonly referred to as * args) (Non Keyword Arguments)
* The function will receive a *tuple* of arguments and can access them accordingly
* You can also pass arguemnts with key = value. In this case, the order of the arguments won't matter.
* In case you will need *arbitrary keyword arguments* add to ** before your parameter name in the function definition (commonly referred to as kwargs) (Arbitrary Keyword Arguments)

### Arbitrary Arguments

In [103]:
def multp(*args):
  result = 1
  for i in args:
    result *= i #result = result * i
    print(result) 
  return result
# *args keeps the data as tuple type.

In [104]:
multp(4,5,6,7,8,9)

4
20
120
840
6720
60480

60480

In [105]:
multp([2,3,5], 2)

[2, 3, 5]
[2, 3, 5, 2, 3, 5]

[2, 3, 5, 2, 3, 5]

In [106]:
multp(2,3,4,0)

2
6
24
0

0

In [101]:
[4,5,6] * 3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

### Keyword Arguments

In [107]:
def exponentiate(base, exponent):
    print("Base: ", base, " Exponent: ", exponent)
    return base ** exponent

In [110]:
exponentiate(exponent = 2, base = 5)

Base:  5  Exponent:  2

25

### Arbitrary Keyword Arguments

In [120]:
def func_kwargs(**kwargs):
    print("Their name is " + kwargs["name"] + " " + kwargs["lname"] + " and they are " + str(kwargs["age"]) + " years old.")
    
func_kwargs(name = "Hasan", lname = "Istanbul", age=25, gender = "M")

Their name is Hasan Istanbul and they are 25 years old.

### Salary and Raise Question Revisited


At a particular company, employees’ salaries are raised progressively, calculated using the following formula:

salary = salary + salary x (raise percentage) 

Raises are predefined as given below, according to the current salary of the worker. For instance, if the worker’s current salary is less than or equal to 1000 TL, then its salary is increased 15%.


Range | Percentage
--- | ---
0 < salary ≤ 1000 | 15%
1000 < salary ≤ 2000 |10%
2000 < salary ≤ 3000| 5%
3000 < salary | 2.5%


Write a program that asks the user to enter his/her salary. Then your program should calculate and print the raised salary of the user.

Some example program runs:

Please enter your salary: 1000

Your raised salary is 1150.0.

Please enter your salary: 2500

Your raised salary is 2625.0.

In [124]:
def salaryCalc(salary):

  if salary <= 0:
    return("Invalid value")
  else:
    if 0 < salary <= 1000:
      salary = salary + salary * 0.15
    elif salary <= 2000:
      salary = salary + salary * 0.1
    elif salary <= 3000:
      salary = salary + salary * 0.05
    else:
      salary = salary + salary * 0.025

    return ("New salary: " + str(salary))

In [125]:
salaryCalc(-5)

'Invalid value'

In [126]:
salaryCalc(800)

'New salary: 920.0'

In [133]:

def salaryCalc2():

  salary = float(input("Please enter your current salary: "))

  if salary <= 0:
    return("Your salary is impossible...")
  else:
    if 0 < salary <= 1000:
      salary = salary + salary * 0.15
    elif salary <= 2000:
      salary = salary + salary * 0.1
    elif salary <= 3000:
      salary = salary + salary * 0.05
    else:
      salary = salary + salary * 0.025

    return ("New salary: " +  str(salary))

In [134]:
new_salary = salaryCalc2() 
print(new_salary)

Please enter your current salary: 0
Your salary is impossible...

### Let's write a function that returns a random word from a list.

### Modules

#### You can import public modules like numpy and tensorflow

import numpy

import tensorflow as tf

#### You can also import your own modules

import myModules

myModules.myFunc()

#### To import everything from the module:

from myModules import *

myFunc()

In [135]:
words = ["artificial","intelligence","machine","learning","python","programming"]


#from random import *
import random as rnd

def randomWord(words):
  index = rnd.randint(0, len(words)-1)
  return words[index]

In [136]:
len(words)

6

In [141]:
word = randomWord(words)
print(word)

programming

### Global & Local Variables

In [153]:
x = 5

print(x)

5

In [154]:
def display():
  x = 4
  return(x)

In [155]:
display()

4

In [156]:
print(x)

5

### An experiment (and the 'global' keyword)

In [161]:
my_var = 5

def my_func():
    my_var = 2
    print("my var is ", my_var, " in the function")

my_func()
print("my var is ", my_var, " globally")

my var is  2  in the function
my var is  5  globally

## Methods

Functions are a block of code that carry out a specific task, and they are called by name. They may contain arguments too.

They may also *return* something, or not. If they return something, their returned value can be assigned to a variable or used elsewhere.

Methods are somewhat similar to functions, although they are associated with objects/classes. They are used for an object for which it is called, such as a String or List.

Like functions, methods are also called by name 


object.methodName(parameter)

In [162]:
s = input("Please enter a name: ")


print(s.upper())

Please enter a name: heya
HEYA

In [163]:
#it does not return any value
list1 = [1,2,3,4,5,6]

list1.remove(4)
list1

[1, 2, 3, 5, 6]

In [164]:
list1

[1, 2, 3, 5, 6]

In [165]:
list1.index(6)

4

In [166]:
#return the index of the element with the highest value in a given list.

myList = [45,7,23,6,12,78]

maxElement = max(myList)

maxIndex = myList.index(maxElement)

print(maxIndex)

5